@model IEnumerable<WcfDemo.Web.ContactService.Contact>

<h1>Contacts</h1>
@Html.ActionLink("Add contact", "Create", null, new { @class = "btn btn-primary" })
<hr />

@if (Model != null && Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Number</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.OrderBy(c => c.FirstName).ThenBy(c => c.LastName))
            {
                <tr>
                    <td>@contact.Id</td>
                    <td>@contact.FirstName @contact.LastName</td>
                    <td>@contact.PhoneNumber</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = contact.Id }, new { @class = "btn btn-xs btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = contact.Id }, new { @class = "btn btn-xs btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>No contacts in the database.</div>
}
